.article-root {
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  .article-main {
    max-width: 50%;
  }
}

@media (max-width: 992px) {
  .article-main {
    max-width: 100%;
  }
}
