.home {
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
}

.top-section {
   text-align: center;
   margin-bottom: 20px;
}

.latest-news-section,
.featured-section {
   margin-bottom: 40px;
}

.news-item,
.article {
   border-bottom: 1px solid #ccc;
   padding-bottom: 20px;
   margin-bottom: 20px;
}

.news-item:last-child,
.article:last-child {
   border-bottom: none;
}


@media screen and (max-width: 768px) {
   .top-section h1 {
      font-size: 24px;
   }

   .top-section p {
      font-size: 16px; 
   }

   .news-item h3,
   .article h3 {
      font-size: 18px;
   }

   .news-item p,
   .article p {
      font-size: 14px; /* Reduce font size for smaller screens */
   }
}
